.media {
  margin: 10px;
}

.media,
.bd {
  overflow: hidden;
  zoom: 1;
}

.media .img {
  float: left;
  margin-right: 10px;
}

.media .img img {
  display: block;
}

.media .imgExt {
  float: right;
  margin-left: 10px;
}

.pagination a {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid black;
  cursor: pointer;
}

.pagination a.active {
  text-decoration: none;
}
